<div class="template-form">
  <h2>Загрузка шаблона</h2>
  <form>
    <label for="name">Название продукта:</label>
    <input id="name" [(ngModel)]="name" name="name" placeholder="Напр. Колбаса" />

    <label for="image">Файл изображения (.jpg):</label>
    <input id="image" type="file" accept=".jpg,.png" (change)="onImageSelected($event)" />

    <label for="template">HTML-шаблон (.html):</label>
    <input id="template" type="file" accept=".html" (change)="onHtmlSelected($event)" />
        <label for="ean13">Штрих код</label>
    <input id="ean13" [(ngModel)]="ean13" name="ean13" placeholder="Напр. 1234567890123" />

    <button type="button" (click)="uploadTemplate()">Загрузить шаблон</button>
  </form>
</div>
