<div class="main">

<h2>Печать этикетки</h2>

<form class="label-form">
    <label for="name">Название продукта:</label>
    <input id="name" [(ngModel)]="product.name" name="name" placeholder="Введите название продукта" />

    <label for="date">Дата производства:</label>
    <input id="date" type="date" [(ngModel)]="product.date" name="date" />

    <label for="weight">Вес (в кг):</label>
    <input id="weight" type="number" [(ngModel)]="product.weight" name="weight" placeholder="0" min="0" step="0.01" />

    <button type="button" (click)="print()">Печать</button>
</form>
</div>