.main {
    display: grid;
    width: 100%;
    grid-template-rows: repeat(5, calc(20% - 25px));
    gap: 1rem;
    padding: 20px 40px;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 100px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.124);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    width: 100%;
    padding: 1rem;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 98%;
    margin-top: 20px;
    padding-right: 20px;
}

.form-button {
    width: 200px;
    padding: 0.75rem;
    background-color: #007acc;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #005ea3;
}

.form-button:active {
    transform: scale(0.98);
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Адаптивность */
@media (max-width: 768px) {
    .main {
        padding: 15px 20px;
    }

    .modal-content {
        max-width: 90vw;
        padding: 1rem;
    }

    .form-button {
        width: 100%;
    }

    .button-container {
        justify-content: center;
        padding-right: 0;
    }
}

@media (max-width: 480px) {
    .modal-content {
        max-height: 90vh;
        padding: 0.75rem;
    }

    .close {
        top: 5px;
        right: 10px;
        font-size: 1.2rem;
    }
}