.main {
    display: flex;
    flex-wrap: wrap;          /* Позволяет карточкам переходить на новую строку */
    flex-direction: row;      /* Центрируем карточки по горизонтали */
    gap: 20px;                /* Отступы между карточками */
    width: 100%;              /* Ширина контейнера — на всю доступную */
    max-width: 1200px;        /* Максимальная ширина */
    border-radius: 12px;
    font-family: 'Segoe UI', sans-serif;
    height: auto;
}

.card-items {
    flex: 0 0 300px;          /* Фиксированная ширина карточки */
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: fill;
    padding: 30px 0;
    background: white;        /* Добавил фон, чтобы отделить карточки */
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.modal {
    background-color: rgba(0, 0, 0, 0.124);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    width: 100%;
    padding: 1rem;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-print {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.print-button {
    width: 75%;
    padding: 0.75rem;
    background-color: #007acc;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #005ea3;
    }

    &:active {
        transform: scale(0.98);
    }
}

.delete-button {
    width: 75%;
    margin-top: 10px;
    padding: 0.75rem;
    background-color: #e53935;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #c62828;
    }

    &:active {
        transform: scale(0.98);
    }
}
