<div class="main">
  <div class="card-items" *ngFor="let product of templates">
    <img [src]="'http://localhost:3000/assets/' + product.image" alt="{{product.name}}" class="product-img" />
    <h3>{{ product.name }}</h3>
    
    <button (click)="openModal(product)" class="print-button">Печать</button>
    <button (click)="deleteTemplate(product.id)" class="delete-button">Удалить</button>
  </div>
</div>

<div class="modal" *ngIf="isOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>

    <app-printer
      [templateName]="selectedProduct?.templateName"
      [name]="selectedProduct?.name"
    ></app-printer>
  </div>
</div>
